.article-main_layout {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box_content {
    height: 290px;
    width: 24%;
    background-color: yellow;
    margin: 0.5rem 0;
}

img{
    width: 100%;
    height: 70%;
}