*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-main_layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box_content {
    height: 300px;
    width: 24%;
    margin: 0.5rem 0;
}

.video > img{
    width: 100%;
    height: 170px;
}

.trinhbay{
    width: 100%;
    height: 100px;
}
.avt{
    padding: 10px 10px;
    height: 100px;
    float: left;
}
.avt > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.avt > .conten {
    width: 80%;
    padding: 20px 10px;

}
.conten{
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif; 
}
h2{
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}
p{
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
}
.noidung{
    width: 100%;
    height: 100%;
}
.tenkenh{
    width: 100%;
    height: 30px;
}
.luotxem{
    width: 100%;
    height: 100%;
}