*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    /* width: 15%; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.home{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.home>.li-icon{
    flex: 1;

}
.home>.li-title{
    flex: 3;
}
.divhome{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    padding-bottom: 1rem;
}