*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    width: 130px;
    height: 60px;
}
.header-custom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: white;
    border: 1px solid rgb(229, 222, 222); 
}


.box {
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2 > .box > input#search{
    width: 500px;
    height: 43px;
    background: white;
    font-size: 10pt;
    padding-left: 15px;   
    border: 1px solid rgb(229, 222, 222); 
}
#div2 > .box > .icon_search{
    background-color: white;
    border: 1px solid rgb(229, 222, 222); 
    padding: 6.5px;
    font-size: 6pt;
    color: rgb(99, 113, 124);
    
}
#div2 > .box > .mic{
    background-color: rgb(240, 235, 235);
    border-radius: 50%;
    padding: 5.5px;
    font-size: 8pt;
    border: none;
}


.the{
    margin: 0 9px;
    border: none;
    background: none;
}
.mg-4{
    margin: 0 9px;
    border: none;
    background: none;
}