<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/CSS/article.css">
</head>
<body>
    <div class="article-main_layout">
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/thuongemlam.jfif">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/thanhtan.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>THƯƠNG EM LẮM (MV Lyrics) - TÂN TRỀ</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>Thanh Tân Official</p>
                    </div>
                    <div class="luotxem">
                        <p>2.774.025 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/conan461.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/popsanime.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>Thám Tử Lừng Danh Conan - Tập 461 - Người đàn ông bị che khuất bởi khung thép - Trọn B...</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>POPS Anime</p>
                    </div>
                    <div class="luotxem">
                        <p>981.390 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/imgvideo/trungtamgiacngotho7mau.jpg">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/tho7mau.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <br><h2>TRUNG TÂM GIÁC NGỘ INTERNET</h2>
                    </div>
                    <div class="tenkenh">
                        <br><p>THỎ BẢY MÀU</p>
                    </div>
                    <div class="luotxem">
                        <p>4.181.055 lượt xem-26 thg 4, 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>