<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/CSS/article.css">
</head>
<body>
    <div class="article-main_layout">
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/logo.png" alt="">
            </div>
            <div class="avt">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                    <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
                  </svg>
                </div>
                <div class="conten">
                    <p>aaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
        </div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
    </div>
</body>
</html>