<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/CSS/article.css">
</head>
<body>
    <div class="article-main_layout">
        <div class="box_content">
            <div class="video">
                <img src="../../public/images/logo.png">
            </div>
            <div class="trinhbay">
                <div class="avt">
                    <img src="../../public/images/FapTV.jpg">
                </div>
                <div class="conten">
                    <div class="noidung">
                        <h2>Thương Em, Chạnh Lòng Thương Cô, Đoạn Tuyệt Nàng Đi | Nhạc Lofi Chill Hot TikTok Gây Nghiện 2022</h2>
                    </div>
                    <div class="tenkenh">
                        <p>Tiệm Nhạc Lofi</p>
                    </div>
                    <div class="luotxem">
                        <p>4.014 lượt xem-15 thg 5, 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
        <div class="box_content">a</div>
    </div>
</body>
</html>